* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
} 

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-image: url(bg-twt.png);
  background-size: 40%;
  background-repeat: no-repeat;
}

header {
  height: 100px;
  background-color: yellow;
}

.profile {

}

.text-box {

}