* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
} 

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0 auto;
  /*background-image: url(bg-twt.png);
  background-size: 40%;
  background-repeat: no-repeat;*/
  background-color: #1DA1F2;
}

header {
  height: 50px;
  background-color: #1B95E0;
  color: #FFFFFF;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  text-align: center;
  font-size: 47px;
}

.box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 56px;
  width: 100%;
}

.box {
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  margin: 5px;
}

.profile {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 300px;
  height: 300px;
  color: #657786;
}

.profile h3 {
  position: absolute;
  top: 220px;
}

.profile p {
  position: relative;
  top: 195px;
}

.avatar {
  border: 1px solid transparent;
  border-radius: 50%;
  height: 150px; 
  width: 150px;
  margin-top: 12px;
  position: absolute;
}

.text {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 600px;
  height: 300px;
}

form {
  padding-top: 25px;
  padding-left: 13px;
}

form textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  resize: none;
  width: 555px;
  height: 200px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #1B95E0 !important;
  background-color: #FFFFFF;
  font-size: 20px;
}

.char-counter-container {
  position: relative;
  bottom: 50px;
  left: 250px;
  font-size: 20px;
}

#tweet-button {
  background-color: #1B95E0;
  border: hidden;
  padding: 8px 21px;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 700;
}

.disabled {
  background-color: gray;
  border: hidden;
  padding: 8px 21px;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 700;  
}

#timeline {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.tweet {
  width: 910px;
  background-color: #FFFFFF;
  border-radius: 5px;
  margin: 4px;
}